{# empty Twig template #}
<div class="owl-carousel owl-theme">
    {% set class = '' %}
    {% for portfolio in portfolios %}

        {% for cat in  portfolio.field_portfolio_category %}
            {% set class = class ~ ' ' ~ cat.entity.name.value|lower|replace({" ":"_"}) %}
        {% endfor %}
        <div class="item">
            <figure class="{{ hover_effect }}">
                <img src="{{ file_url(portfolio.field_image.entity.uri.value) }}" alt="{{ portfolio.title.value }}">
                <figcaption>
                    <h3>{{ portfolio.title.value }}</h3>
                </figcaption>
                <a href="http://www.imagehover.io"></a>
            </figure>
        </div>
    {% endfor %}
</div>