{# empty Twig template #}
<div class="wrapper-portfolio-content">
    <div class="filters">
        <button class="btn btn-default btn-filter-portfolio" data-rel="all">All</button>
        <button class="btn btn-default" data-rel="web">Websites</button>
        <button class="btn btn-default" data-rel="flyers">Flyers</button>
        <button class="btn btn-default" data-rel="bcards">Business Cards</button>
    </div>

    <div style="clear:both;"></div>
    <div class="portfolio-content portfolio-3-col">
        <div class="tile scale-anm web all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
        <div class="tile scale-anm bcards all">
            <img src="/sites/default/files/cpb-uploads/business_img003-dakoqk.jpg" alt="Images">
        </div>
        <div class="tile scale-anm web all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
        <div class="tile scale-anm web all">
            <img src="/sites/default/files/cpb-uploads/performance_img002-vapup5.jpg" alt="Images">
        </div>
        <div class="tile scale-anm flyers all">
            <img src="/sites/default/files/cpb-uploads/business_img003-dakoqk.jpg" alt="Images">
        </div>
        <div class="tile scale-anm flyers all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
        <div class="tile scale-anm bcards all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
        <div class="tile scale-anm bcards all">
            <img src="/sites/default/files/cpb-uploads/performance_img002-vapup5.jpg" alt="Images">
        </div>
        <div class="tile scale-anm web all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
        <div class="tile scale-anm bcards all">
            <img src="/sites/default/files/cpb-uploads/business_img004-8k031c.jpg" alt="Images">
        </div>
    </div>

    <div style="clear:both;"></div>
</div> <!-- /#portfolio1 -->