body ,
html
{
  font-size: 14px;
}

#wrapper-custom-pagebuilder-setting-content {
  margin: 0 auto;
  /**/
}
#wrapper-custom-pagebuilder-setting-content .cpb-block-title {
  font-weight: 700;
  padding: 0 10px;
}
#wrapper-custom-pagebuilder-setting-content .margin-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
#wrapper-custom-pagebuilder-setting-content .margin-bottom-20 {
  margin-bottom: 20px !important;
}
#wrapper-custom-pagebuilder-setting-content .margin-bottom-50 {
  margin-bottom: 50px !important;
}
#wrapper-custom-pagebuilder-setting-content .margin-top-30 {
  margin-top: 30px !important;
}
#wrapper-custom-pagebuilder-setting-content .border-none {
  border: none !important;
}
#wrapper-custom-pagebuilder-setting-content a:hover {
  cursor: pointer;
}
#wrapper-custom-pagebuilder-setting-content input[type="text"],
#wrapper-custom-pagebuilder-setting-content input[type="tel"],
#wrapper-custom-pagebuilder-setting-content input[type="password"],
#wrapper-custom-pagebuilder-setting-content input[type="email"],
#wrapper-custom-pagebuilder-setting-content input[type="number"],
#wrapper-custom-pagebuilder-setting-content input[type="file"],
#wrapper-custom-pagebuilder-setting-content .input-file-upload,
#wrapper-custom-pagebuilder-setting-content textarea, #wrapper-custom-pagebuilder-setting-content select {
  background-color: #fff !important;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #ccc !important;
  padding: 6px 3px !important;
  width: 100% !important;
}
#wrapper-custom-pagebuilder-setting-content .input-file-upload {
  margin: 5px 0;
}
#wrapper-custom-pagebuilder-setting-content select.list-shortcodes {
  width: 150px !important;
  margin: 5px 0;
}
#wrapper-custom-pagebuilder-setting-content .custompagebuilder-add-quick-shortcode {
  margin: 5px 0;
  background: #72A3CE;
  color: #fff;
  padding: 8px 10px;
}
#wrapper-custom-pagebuilder-setting-content .custompagebuilder-add-quick-shortcode:hover {
  background: #222222;
}
#wrapper-custom-pagebuilder-setting-content textarea {
  width: 100%;
  height: 120px;
}
#wrapper-custom-pagebuilder-setting-content .custompagebuilder-hidden {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .btn-add, #wrapper-custom-pagebuilder-setting-content .btn-delete {
  background: #72A3CE;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
#wrapper-custom-pagebuilder-setting-content .btn-delete {
  background: #F45754;
}
#wrapper-custom-pagebuilder-setting-content body.custompagebuilder-overflow-hidden {
  overflow-y: hidden;
  padding-right: 15px;
}
#wrapper-custom-pagebuilder-setting-content .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#wrapper-custom-pagebuilder-setting-content #cpb-builder {
  min-width: 470px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom:50px;
}
#wrapper-custom-pagebuilder-setting-content #cpb-builder ul li {
  list-style: none;
}
#wrapper-custom-pagebuilder-setting-content #cpb-admin-wrap {
  display: block;
  background: #fff;
  padding: 10px 10px 0;
  position: relative;
}
#wrapper-custom-pagebuilder-setting-content .ui-sortable-placeholder {
  background-color: #f9f9f9 !important;
}
#wrapper-custom-pagebuilder-setting-content .ui-sortable-helper .item-bb-title {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .ui-sortable-helper .cpb-item-title {
  font-size: 12px !important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-placeholder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  margin: 10px !important;
  padding: 1px !important;
  height: 100px;
  float: left !important;
  background-color: #f9f9f9;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row {
  display: block;
  width: 100%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row .cpb-placeholder {
  margin: 6px;
  border: 3px dashed #000;
  float: left;
  display: inline-block !important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row .cpb-droppable-row {
  padding: 15px;
  border: none !important;
  background: none !important;
  width: auto !important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row > .custom-pagebuilder-content-page {
  margin: 0 !important;
}
#wrapper-custom-pagebuilder-setting-content .wb-1 {
  width: 8.30%;
}
#wrapper-custom-pagebuilder-setting-content .wb-1 .bb-btn {
  width: 16px !important;
}
#wrapper-custom-pagebuilder-setting-content .wb-1 .bb-btn i {
  font-size: 10px;
}
#wrapper-custom-pagebuilder-setting-content .wb-1 .item-bb-title, #wrapper-custom-pagebuilder-setting-content .wb-1 .item-w-label {
  display: none !important;
}
#wrapper-custom-pagebuilder-setting-content .wb-2 {
  width: 16.63%;
}
#wrapper-custom-pagebuilder-setting-content .wb-3 {
  width: 24.97%;
}
#wrapper-custom-pagebuilder-setting-content .wb-4 {
  width: 33.30%;
}
#wrapper-custom-pagebuilder-setting-content .wb-5 {
  width: 41.63%;
}
#wrapper-custom-pagebuilder-setting-content .wb-6 {
  width: 49.97%;
}
#wrapper-custom-pagebuilder-setting-content .wb-7 {
  width: 58.30%;
}
#wrapper-custom-pagebuilder-setting-content .wb-8 {
  width: 66.63%;
}
#wrapper-custom-pagebuilder-setting-content .wb-9 {
  width: 74.97%;
}
#wrapper-custom-pagebuilder-setting-content .wb-10 {
  width: 83.30%;
}
#wrapper-custom-pagebuilder-setting-content .wb-11 {
  width: 91.63%;
}
#wrapper-custom-pagebuilder-setting-content .wb-12 {
  width: 99.97%;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element {
  float: left;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element .cpb-el-meta {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element .custom-pagebuilder-content-page {
  position: relative;
  background: none;
  margin-bottom: 35px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element .custom-pagebuilder-content-page .cpb-droppable {
  margin: 0;
  background: #F8F8F8;
  border: 1px dashed #e1e1e1;
  width: 100%;
  min-height: 80px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element.cpb-columns .cpb-droppable-column {
  border: 1px dashed #e1e1e1;
  border-top: 0;
  background: #F8F8F8 !important;
  border: 1px dashed #e1e1e1;
  border-top: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element.cpb-row:hover .cpb-el-header.header-row a.action:hover {
  background-color: #000;
}

#wrapper-custom-pagebuilder-setting-content .cpb-element.cpb-columns > .custom-pagebuilder-content-page > .cpb-el-header > .cpb-el-action{
  width: 30px;
  left: 100%;
  background: #1093E4;
  z-index: 99;
  display: none;
  top: -1px;
  border: 1px solid #C8C8C8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#wrapper-custom-pagebuilder-setting-content .cpb-element.cpb-columns > .custom-pagebuilder-content-page > .cpb-el-header > .cpb-el-action > a{
  border: none;
  color: #fff;
  width: 30px!important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-element.cpb-columns:hover > .custom-pagebuilder-content-page > .cpb-el-header > .cpb-el-action{
  display: block;
}

#wrapper-custom-pagebuilder-setting-content .cpbuilder-upload-image .loading {
  margin-top: 5px;
  padding: 5px 10px;
  background: #3A799D;
  color: #fff;
  text-transform: uppercase;
  display: none;
}
#wrapper-custom-pagebuilder-setting-content input.form-submit {
  margin-top: 20px;
  padding: 8px 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #3A799D;
  border: 1px solid #3A799D;
}
#wrapper-custom-pagebuilder-setting-content input.form-submit:hover {
  background: none;
  color: #3A799D;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header {
  background: #f1f1f1;
  height: 30px;
  border-bottom: 1px solid #C8C8C8;
  position: relative;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header.header-row {
  border-bottom: 1px solid #C8C8C8;
  border-top: 0;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header.header-row a.action {
  background: #F1F1F1;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header.header-column {
  border: 1px solid #C8C8C8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .item-bb-title {
  color: #979fa8;
  margin-left: 13px;
  line-height: 34px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .cpb-el-action {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .element-size a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  background: #EEEEEE;
  color: #222222;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn {
  width: 30px;
  height: 30px;
  line-height: 25px;
  color: #000;
  text-align: center;
  display: block;
  float: left;
  border-left: 1px solid #C8C8C8;
  background-position: center;
  background-repeat: no-repeat;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn:first-child {
  border-left: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn.big {
  line-height: 34px;
  color: #000;
  font-size: 16px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn:hover, #wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn:active, #wrapper-custom-pagebuilder-setting-content .cpb-el-header .bb-btn:focus {
  background-color: #000;
  color: #fff;
}
#wrapper-custom-pagebuilder-setting-content #cpb-rows {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content #cpb-columns {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row-add {
  height: auto;
  padding: 0 15px;
  margin: 30px 0;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row-add .bb-btn-row-add {
  text-align: center;
  display: block;
  width: 100%;
  width: 100%;
  padding: 10px 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row-add .bb-btn-row-add i {
  font-size: 50px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-row-add .bb-btn-row-add:hover {
  background: #f5f5f5;
  color: #000;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element {
  float: left;
  padding: 0;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .bb-drap, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-add {
  width: 25px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #000 !important;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  float: left;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .bb-drap:hover, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .bb-drap:active, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .bb-drap:focus, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-add:hover, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-add:active, #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-add:focus {
  background: #000;
  color: #fff !important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items {
  position: absolute;
  top: auto;
  left: 0;
  background: #fff;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 101;
  width: 100%;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 10%;
  bottom: 10%;
  width: 70%;
  margin: 0 15%;
  border: 1px solid #ccc;
  z-index: 999;
}
@media (max-width: 1200px) {
  #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items {
    width: 80%;
    margin: 0 10%;
  }
}
@media (max-width: 1000px) {
  #wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items {
    width: 90%;
    margin: 0 5%;
  }
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items ul {
  margin: 15px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items ul li {
  list-style: none;
  float: left;
  margin-bottom: 0;
  width: 25%;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items ul li a {
  color: #000 !important;
  text-decoration: none !important;
  text-align: center;
  background: #F5F5F5;
  display: block;
  height: 40px;
  line-height: 40px;
  border: 3px solid #fff;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items ul li a:hover {
  color: #fff !important;
  background: #2B4B80;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items ul li:nth-child(4n+4) a {
  border-right-style: transparent;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element .cpb-items .hedding ,
#cpb-form-setting .hedding
{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background: #2B4B80;
  padding: 20px;
  color: #fff;
}
#cpb-form-setting .hedding {
    margin-top:-60px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-add-element.focus div.cpb-items {
  display: block;
}
#wrapper-custom-pagebuilder-setting-content #cpb-items {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .cpb-columns {
  position: relative;
}
#wrapper-custom-pagebuilder-setting-content .cpb-columns.fist-column {
  clear: left;
}
#wrapper-custom-pagebuilder-setting-content .cpb-columns .custom-pagebuilder-content-page {
  margin: 15px 10px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-columns .item-w-label {
  color: #9999A5;
  display: block;
  width: 24px;
  float: left;
  text-align: center;
  height: 24px;
  line-height: 32px;
  font-size: 10px;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .custom-pagebuilder-content-page {
  background: #fff;
  margin: 15px;
  border: none !important;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .cpb-el-header {
  background: #FAFAFA;
  height: 24px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .cpb-el-header .bb-btn {
  width: 24px;
  height: 24px;
  border-left-color: #d9dee1;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .cpb-item-content {
  height: 50px;
  text-align: center;
  overflow: hidden;
  padding: 15px 10px 10px;
  background: #FCFCFC;
  border: 1px solid #e1e1e1;
  border-top: 0;
  clear:both;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .cpb-item-content .cpb-item-title {
  display: block;
  color: #2f4052;
  font-size: 14px;
  font-weight: 600;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item .cpb-item-content .item-bb-title {
  color: #979fa8;
}
#wrapper-custom-pagebuilder-setting-content .custom-pagebuilder-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
#wrapper-custom-pagebuilder-setting-content .custom-pagebuilder-overlay.active {
  display: block;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting {
  background: #fff;
  margin: 0;
  padding: 0;
  display: none;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 150px;
  bottom: 50px;
  width: 60%;
  left: 20%;
  right: 20%;
  border: 1px solid #ccc;
  z-index: 999;
}
@media (max-width: 1000px) {
  #wrapper-custom-pagebuilder-setting-content #cpb-form-setting {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta {
  position: absolute;
  top: 0;
  bottom: 40px;
  width: 100%;
  left: 0;
  background: #fff;
  overflow-y: scroll;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta .cpb-form {
  padding: 0 20px 30px;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta .cpb-form .single-field {
  padding: 10px 0;
  width: 99%;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta .cpb-form .single-field > div {
  width: 100%;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta .cpb-form .single-field > div.field-title .label-field {
  font-weight: 700;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .cpb-el-meta .cpb-form .single-field .description {
  width: 100%;
  display: block;
  color: #999999;
  font-style: italic;
  font-size: 12px;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .action {
  padding: 10px 0;
  border-top: 2px solid #72A3CE;
  background: #fff;
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
}
#wrapper-custom-pagebuilder-setting-content #cpb-form-setting .action a.cpb-form-setting-save, #wrapper-custom-pagebuilder-setting-content #cpb-form-setting .action a.cpb-form-setting-cancel {
  display: inline-block;
  background: #72A3CE;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
  margin-left: 20px;
  font-size: 12px;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate {
  padding: 0 10px;
  overflow: hidden;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate .hide {
  display: none;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate .btn-wrapper {
  float: right;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate textarea {
  padding: 10px;
  margin: 10px 0 5px;
  color: #666666;
  font-size: 12px;
  width: 100%;
  height: 70px;
  border-color: #ededed;
  background: #fff;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate a.bb-btn-migrate {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  color: #2f4052 !important;
  text-decoration: none;
  text-align: center;
  background: #f0f1f1;
  font-weight: bold;
  width: 100px;
  display: inline-block;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate a.bb-btn-migrate:hover {
  background: #e1e4e4;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate a.bb-btn-migrate.btn-primary {
  background: #1abc9c;
  color: #fff !important;
  float: right;
}
#wrapper-custom-pagebuilder-setting-content #cpb-migrate a.bb-btn-migrate.btn-primary:hover {
  background: #11a285;
}
#wrapper-custom-pagebuilder-setting-content html[xmlns] .clearfix {
  display: block;
}
#wrapper-custom-pagebuilder-setting-content * html .clearfix {
  height: 1%;
}
#wrapper-custom-pagebuilder-setting-content .cpb-item-icon {
  color: #C1C1C1;
  font-size: 32px;
}
#wrapper-custom-pagebuilder-setting-content .full-width .cpb-textarea-header {
  max-width: 100%;
}
#wrapper-custom-pagebuilder-setting-content .tabs-ul.ui-sortable {
  margin: 0;
}
#wrapper-custom-pagebuilder-setting-content .tabs-ul.ui-sortable > li {
  border: 1px solid #72A3CE;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
}
#wrapper-custom-pagebuilder-setting-content .custompagebuilder-image-demo {
  max-width: 150px;
  height: auto;
  margin-top: 5px;
  float: left;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}
#wrapper-custom-pagebuilder-setting-content .custompagebuilder-field-upload-remove {
  margin-top: 5px;
  float: left;
}
#wrapper-custom-pagebuilder-setting-content .info-des {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  display: block;
  border-bottom: 1px solid #72A3CE;
  margin: 5px 0;
  color: #72A3CE;
}

.column-clear {
  width: 100%;
  height: 20px !important;
  background: #9B2020;
  margin-bottom: 30px;
}
.column-clear .cpb-el-header {
  display: none;
}
.column-clear .custom-pagebuilder-content-page {
  display: none;
}
.column-clear .cpb-droppable-column {
  display: none;
}

.action-add-column {
  position: relative;
  display: inline-block;
}
.action-add-column .btn-hover {
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 10px;
}
.action-add-column .hover-content {
  display: none;
  position: absolute;
  top: 98%;
  left: 0;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.action-add-column .hover-content a {
  background: #fff !important;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px dashed #f1f1f1 !important;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}
.action-add-column:hover .hover-content {
  display: block;
  width: 120px;
}

.cpb-add-clear {
  text-transform: uppercase;
}

.type-column-clearfix .header-column {
  background: #008AA7 !important;
}
.type-column-clearfix .cpb-add-element .cpb-add, .type-column-clearfix .cpb-add-element .cpb-items, .type-column-clearfix .element-size, .type-column-clearfix .cpb-droppable-column {
  display: none!important;
}

.close-cpb-items {
  float: right !important;
  border: none !important;
  color: #fff !important;
  margin-top: -5px;
  line-height: 31px !important;
}

.btn-get-images-upload {
  margin-top: 5px;
  float: left;
  background: #72A3CE !important;
}

.custompagebuilder-box-images {
  background: #fff;
  margin: 0;
  padding: 0;
  display: none;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 180px;
  bottom: 100px;
  width: 50%;
  left: 25%;
  right: 25%;
  border: 1px solid #ccc;
  z-index: 999;
}
@media (max-width: 1000px) {
  .custompagebuilder-box-images {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
.custompagebuilder-box-images.open-popup {
  display: block;
}
.custompagebuilder-box-images .header {
  background: #6293BE;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 20px;
  display: block;
  position: relative;
}
.custompagebuilder-box-images .header .close {
  font-size: 14px;
  top: 15px;
  position: absolute;
  right: 15px;
  color: #fff;
  z-index: 1;
}
.custompagebuilder-box-images .custompagebuilder-box-images-inner {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background: white;
}
.custompagebuilder-box-images .custompagebuilder-box-images-inner .btn-choose-image-upload {
  position: relative;
  display: block;
  width: auto;
  height: 150px;
  width: 16%;
  margin: 1%;
  float: left; 
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #222;
  background-color: #ccc!important;
}
.custompagebuilder-box-images .custompagebuilder-box-images-inner .btn-choose-image-upload img{
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  height: auto;
  display: inline-block;
}
.custompagebuilder-box-images .custompagebuilder-box-images-inner .btn-choose-image-upload:hover {
  cursor: pointer;
  border-color: red;
}

.type-column-clearfix .cpb-el-action .cpb-edit{
  display: none!important;
}

.custompagebuilder-hidden {
    display:none;
}

.cp-color-picker {
    z-index: 9999 !important;
}