@import "_var.scss";

.text-muted {
  color:$mulled_wine !important;
}

.text-primary {
  color:$color_theme !important;
}

.text-red {
  color:$red !important;
}

.text-yellow {
  color:$yellow!important;
}

.text-blue {
  color:$blue!important;
}

.text-white {
  color:$white!important;
}


.text-black {
  color:$black!important;
}

.text-black {
  color:$black!important;
}

.text-turquoise {
  color:$turquoise!important;
}

.text-pink {
  color:$pink!important;
}

.text-pink {
  color:$violet!important;
}

.text-peacoc {
  color:$peacoc!important;
}

.text-chino {
  color:$chino!important;
}
.text-vista_blue {
  color: $vista_blue!important;
}
.text-gray {
  color: $gray!important;
}

.text-orange {
  color:$orange!important;
}

.text-sky {
  color:$sky!important;
}

.text-green {
  color:$green!important;
}

.text-juicy_pink {
  color:$juicy_pink!important;
}

.text-sandy_brown {
  color:$sandy_brown!important;
}

.text-purple {
  color:$purple!important;
}

.text-teal {
  color:$teal!important;
}