<div id="{{ column_id }}" class="cpb-column {{ col_class }}">
    <div class="column-inner" style="{{ col_style }}">
        {% for item in field_items %}
            {{ item }}
        {% endfor %}
    </div>
</div>
